@font-face {
  font-family: "iconfont"; /* Project id 3146902 */
  src: url('iconfont.woff2?t=1670431520875') format('woff2'),
       url('iconfont.woff?t=1670431520875') format('woff'),
       url('iconfont.ttf?t=1670431520875') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xin:before {
  content: "\e945";
}

.icon-youzhi:before {
  content: "\e604";
}

.icon-youzhi1:before {
  content: "\e633";
}

.icon-youzhi2:before {
  content: "\e61b";
}

.icon-zhifeiji:before {
  content: "\e681";
}

.icon-24gf-paperPlane:before {
  content: "\e967";
}

.icon-youshi_youzhi:before {
  content: "\e69c";
}

.icon-NEW-copy:before {
  content: "\e889";
}

.icon-huore:before {
  content: "\e602";
}

.icon-fenxiang1:before {
  content: "\e603";
}

.icon-zuixingengxin:before {
  content: "\e61e";
}

.icon-laba:before {
  content: "\e601";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-undo:before {
  content: "\ea17";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-fenxiang:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-kuaidi:before {
  content: "\e608";
}

.icon-zhifu:before {
  content: "\e615";
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-zhifu1:before {
  content: "\e8f9";
}

.icon-qianbao:before {
  content: "\e60b";
}

.icon-shoucang:before {
  content: "\e8b9";
}

